@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-color: #181818;
    color: #f8f8ff;
    font-family: 'Lato', sans-serif;

}
#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8em;
}
.header {
    display: flex;
    width: 100%;
    height: 5em;
    justify-content: space-around;
    background-color: #181818;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.logo {
    width: 100%;
    padding-left: 30px;
    font-weight: 300;
    display: flex;
    align-items: center;
    
}
.logo-inner {
    width: 40px;
    height: 40px;
    border: solid 1px #F46036;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links > div {
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-link {
    color: #f8f8ff;
    text-decoration: none;
    font-weight: 300;
}
.banner {
    flex: 0 1 auto;
    min-height: 100vh;
    max-width: 80%;
}
.banner h2 {
    text-align: center;
    margin-bottom: 3em;
}
.main {
    flex: 0 1 auto;
    display: flex;
    padding: 2em 5em 2em 5em;
    gap: 3em;
    overflow: none;
    min-height: 100vh;
}
.main-img {
    height: 50%;
    background-color: #F46036; 
    overflow: none;
}

#main-info-container {
    display: flex;
    flex: 50%;
    align-items: center;
    padding: 2em;
}
#main-img-container {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-main-text {
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Noto Serif Display', serif;
}
.small-main-text {
    font-weight: 300;
}
.medium-main-text {
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Noto Serif Display', serif;
}
.main-svg {
    width: 80%;
} 
@media (max-width: 800px) {
    #main-img-container, #main-info-container {
      flex: 100%;
    }
    .main {
        flex-direction: column;
    }
  }
  /* @media (min-width:445px) and (max-width:800px) {
    .main-svg {
        height: 50%;
    }
    #main-img-container {
        height: min-content;
    }
    #main-info-container {
        flex: 30%;
    }
}​ */
  /* @media (min-width: 550px) and (max-width: 800px) {
      .main {
          margin-bottom: 200px;
      }
  }
   */
  #project-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
  }
  .project-card {
    /* background-color: #F46036; */
    flex: 0 1 auto;
    min-height: 15rem;
    min-width: 20rem;
    border-radius: 10px;
  }
  .skills-icon {
    color: #F46036;
    max-height: 60px;
    min-height: 40px;
    position: relative;
    
  }
  .skills-animation {
    animation-name: skills;
    animation-duration: 2s;
  }
  .skills-icons {
      width: 80vw;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      align-items: end;
  }
  @keyframes skills {
    0%   {color:#181818; transform: rotate(360deg);}
    100% {color:#F46036; }
  }
  .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 1 auto;
      justify-content: space-around;
      gap: 3em;
  }
  .about h2, .about p {
    max-width: 50%;
  }
  .about p {
      font-weight: 300;
  }
  .thinker-svg {
      width: 50%;
  }
  .truthy-card {
    /* background-image:
    linear-gradient(black, black),
    url(nfl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation; */
    position: relative;
  }
  .strangers-card {
    /* background-image:
    linear-gradient(black, black),
    url(strangers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation; */
    position: relative;
  }
  .fitness-tracker-card {
    /* background-image:
    linear-gradient(black, black),
    url(fitness.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation; */
    position: relative;
  }
  .connect-four-card {
    /* background-image:
    linear-gradient(black, black),
    url(connect.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation; */
    position: relative;
  }
  .project-card h3 {
      text-align: center;
      color: #F46036;
  }
  .strangers-card:before, .connect-four-card:before, .truthy-card:before, .fitness-tracker-card:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-size: cover;
    /* filter: grayscale(100%) brightness(30%); */
    filter: brightness(30%) grayscale(50%);
    border-radius: 10px;
    transition: all 1s ease;
  }
  .strangers-card:before {
    background-image: url(strangers.jpg);
  }
  .connect-four-card:before {
    background-image: url(connect.jpg);
  }
  .truthy-card:before {
    background-image: url(nfl.jpg);
  }
  .fitness-tracker-card:before {
    background-image: url(fitness.jpg);
  }
  .strangers-card:hover::before, .connect-four-card:hover::before, .truthy-card:hover::before, .fitness-tracker-card:hover::before {
      filter: brightness(20%) grayscale(100%);
      /* width: 23rem;
      height: 18rem; */
      transform: scale(1.2);
}
  .inside-card {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 80%;
      margin: 0 auto;
      transition: all 1s ease;
  }
  .project-btn {
      visibility: hidden;
      width: 10em;
      height: 2.5em;
      background: transparent;
      border: #F46036 solid 1px;
      color: #F46036;
      border-radius: 5px;
      /* transition: all .5s ease; */
      background: linear-gradient(to right, #F46036 0%, #F46036 50%, transparent 50%, transparent 100%);
      background-size: 200% 100%;
      background-position: 100% 0;
      transition: background-position 0.5s;
  }
  .project-btn:hover {
    background-position:0 0;
    color: #181818;
  }
  .project-card:hover .project-btn, .project-card:hover .project-p {
    visibility: visible;
  }
  .project-p {
    visibility: hidden;
    transition: all .5s ease;
  }